@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}
:root{
    /* colors */
    --primary-color: #6366F1;
    --secondary-color: #F2F2F2;
    --accent-color: #EC4899;
    --gray-text: #606060;

    /* layout */
    --container-width: 1000px;
    --section-margin-top: 205px;


    /* heading styles */
    --heading-font-size: 3.75rem;
    --heading-line-height: 97%;
    --heading-margin: 0;

    --heading2-font-size: 2rem;
    --heading2-line-height: 117%;
    --heading2-margin: 1rem 0;

    --article-font-size: 1rem;
    --article-line-height: 166%;

    --link-font-size: 0.8rem;
    --link-color:var(--gray-text);
    --link-letter-spacing: 0.1rem;


}
.gray_text{
    color: var(--gray-text);
}
body{
    margin: 0;
}
/* container */
.container{
    max-width: var(--container-width);
    width: 100%;
    margin: 0 auto;
}

/* headings */
h1{
    font-size: var(--heading-font-size);
    line-height: var(--heading-line-height);
    margin: var(--heading-margin);
}

/* article */
.article{
    font-size: var(--article-font-size);
    line-height: var(--article-line-height);
}

/* section design */
.section{
    margin-top: var(--section-margin-top);
}

/* navbar */
nav{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
}
.nav_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100px;
}
.links-wrapper{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-weight: bold; /* Makes the text bold */
    text-decoration: none; /* Optional: Removes underline for links */
}
.links-wrapper > a{
    text-transform: uppercase;
    color: var(--gray-text);
    font-size: 0.8rem;
}
/* hero */
.hero{
    min-height: 90vh;
    padding: 70px 0;
    display: flex;
    align-items: center;
}

.sub-heading{
    font-size: var(--heading2-font-size);
    line-height: var(--heading2-line-height);
    margin: var(--heading2-margin);
}

.heading_wrapper{
    flex: 60%;
}

.arrow{
    width: 40px;
}
/* about */
h2.sub-heading{
    text-align: center;
}

.flex-container{
    display: flex;
    gap: 5rem;
    margin: 3rem 0;
}

.profile{
    width:200px;
}

.icons_container{
    margin-top: 3rem;
    display: flex;
    gap: 1.5rem;
}

.icon a {
    display: inline-flex; /* Keeps the link inline without disrupting the layout */
    width: 100%; /* Matches the .icon container size */
    height: 100%; /* Matches the .icon container size */
    align-items: center;
    justify-content: center;
    text-decoration: none; /* Removes any underline effect */
}

.icon{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img{
    width: 2rem;
    height: 2rem;
}
/* projects */
.project_container{
    margin-top: 3rem;
    display: flex;
    gap: 5rem;
    border-bottom: 0.1rem solid #DDD;
}

.project_title{
    color: var(--gray-text);
    margin-bottom: 3 rem;
}

.project_link{
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--accent-color);
    font-weight: bold;
    margin: 2rem 0;
    display: block;
}
/* contact */
.section-wrapper{
    display: flex;
    gap: 5rem;
}

.input{
    background-color: #F1F1F1;
    border: none;
    padding: 0.5rem;
    width: 100%;
}

.label{
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: bold;
}

.contact{
    max-width: 450px;
}

.inputs_wrapper{
    width: 100%;
}

.submit{
    background-color: var(--accent-color);
    color: var(--secondary-color);
    padding: 0.5rem 1rem;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.submit:hover {
    color: var(--accent-color);
    background-color: var(--secondary-color);
    border: 2px solid var(--accent-color); /* Border for added contrast */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.download-button {
    display: inline-block;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: var(--primary-color);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color); /* Border for added contrast */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}


.social_links{
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: bold;
    margin: 2rem 0;
    display: block;
}

@media(max-width:800px){
    .hero, .flex-container, .project_container, .section-wrapper{
        flex-direction: column;
        gap: 2rem;
    }
    .container{
        padding: 0 3rem;
    }
}


/* footer */
